
.create_acc_btn {
    padding: 5px 25px;
}

.log_in_btn {
    margin-top: 25px;
    padding: 5px 25px;
}

.delete_acc, .update_acc {
    padding: 5px 25px;
}

.update_acc {
    margin-top: 20px;
}

.table {
    .btn-outline-primary {
        a {
            color: #4444ff;
        }
        &:hover {
            a {
                color: #fff;
                text-decoration: none;
            }
        }
    }
    .btn-danger a {
        color: #fff;
    }
}
