
#nav_buttons {
    margin-left: 0px; 
    .btn {
        margin-left: 25px;
        padding: 5px 30px;
    }
    .dropdown-menu {
        margin-left: 50px;
    }
}


#search_box {
    padding: 6px;
    padding-left: 10px;
    font-size: .75em;
}