
.i {
    display: none;
}

#landing {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgb(195, 2, 248);
    margin-top: 50px;
    overflow: hidden;
}

#landing_hero {
    z-index: 10000;
}

.container-fluid {
    padding: 50px 35px 100px 25px;
}

.page_yield {
    padding: 25px;
}

#login {
    padding: 25px 50px;
    padding-top: 75px;
    background: #e0abff;
    border-radius: 15px;
    .login_input, .log_in_btn {
        width: 50%;
    }
}

.cancel_account {
    margin-top: 75px;
    background: pink;
    padding: 25px;
    border-radius: 2px;
}